넷플릭스 콘텐츠 분석하기
=================

> 넷플릭스 영화 및 TV 콘텐츠를 분석해 본 내용입니다. 데이터는 kaggle의 데이터셋을 이용했습니다.     
> 데이터와 분석 노트북은 깃허브 리포지토리에서 확인하실 수 있습니다.     
> + [데이터셋 바로가기][link]
> + [리포지토리 바로가기][link_repository]

[link]: https://www.kaggle.com/shivamb/netflix-shows "netflix-shows-dataset"
[link_repository]: https://github.com/king-rabbit

1. 데이터 불러오기
> 필요한 라이브러리와 데이터를 불러오고 데이터 형식 등을 확인해봅니다.

In [2]:
import warnings
import pandas as pd
import numpy as np
from pyecharts import Bar, Line, Pie, Map
warnings.filterwarnings(action='ignore')

In [3]:
data = pd.read_csv('netflix_titles.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
data.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [8]:
for i in range(len(data)):
    try:
        data.loc[i, 'country'] = data.loc[i, 'country'].replace("\"", "")
    except:
        pass

In [9]:
countries = []
for i in range(len(data)):
    if type(data.loc[i, 'country']) == str:
        countries_content = data.loc[i, 'country'].split(', ')
        for country in countries_content:
            countries.append(country)
    else:
        pass

countries = list(set(countries))

In [10]:
#countries.remove('')
countires_re = [ country.replace(',', '') for country in countries ]

In [11]:
countires_re = list(set(countires_re))

In [12]:
countries_cnt = []
for country in countires_re:
    cnt = 0
    for i in range(len(data)):
        if type(data.loc[i, 'country']) == str and data.loc[i, 'country'].__contains__(country):
            cnt +=1
    countries_cnt.append(cnt)

In [13]:
countries_movie_number = pd.DataFrame({'country':countires_re, 'count':countries_cnt})
countries_movie_number.to_csv('국가별_콘텐츠_개수.csv')

In [14]:
countries_movie_number = pd.read_csv('국가별_콘텐츠_개수.csv')

In [15]:
wmap = Map("", width=1000, height=600)
wmap.add(
    "",
    list(countries_movie_number['country'].values),
    list(countries_movie_number['count'].values),
    maptype="world",
    is_visualmap=True,
    visual_text_color="#000",
)
wmap

In [16]:
countries_movie_number.sort_values(by='count', ascending=False)[:10]

     Unnamed: 0         country  count
0             0             NaN   7976
102         102   United States   3690
52           52           India   1046
29           29  United Kingdom    806
79           79          Canada    445
53           53          France    393
49           49           Japan    318
41           41           Spain    232
24           24         Germany    231
18           18     South Korea    231

In [17]:
contents_by_year = pd.DataFrame(data['release_year'].value_counts()).reset_index().rename(columns={'index':'year', 'release_year':'count'}).sort_values(by='year')

In [18]:
bar = Bar("",
         width=1200)
bar.use_theme("dark")
bar.add("release_year", 
        contents_by_year['year'], 
        contents_by_year['count'],
        xaxis_label_textsize =9,
        label_text_size=10,
        is_label_show=True, 
        is_stack=True,
        is_datazoom_show=False)
bar

In [19]:
for i in range(len(data)):
    if type(data.loc[i, 'date_added']) == str:
        data.loc[i, 'date_added_year'] = data.loc[i, 'date_added'][-4:]

In [20]:
contents_added_year = pd.DataFrame(data['date_added_year'].value_counts()).reset_index().rename(columns={'index':'year', 'date_added_year':'count'}).sort_values(by='year')

In [22]:
bar = Bar("",
         width=1200)
bar.use_theme("dark")
bar.add("data_added_year", 
        contents_added_year['year'], 
        contents_added_year['count'],
        xaxis_label_textsize =9,
        label_text_size=10,
        is_label_show=True, 
        is_stack=True,
        is_datazoom_show=False)
bar

In [88]:
for i in range(len(data)):
    if data.loc[i, 'release_year'] <= 1980:
        data.loc[i, 'before_1980'] = 1
    else:
        data.loc[i, 'before_1980'] = 0

In [96]:
pd.pivot_table(data,  index=['date_added_year'], columns=['before_1980'],  aggfunc='count')['title']

before_1980         0.0   1.0
date_added_year
2008                2.0   NaN
2009                2.0   NaN
2010                1.0   NaN
2011               13.0   NaN
2012                3.0   NaN
2013               11.0   NaN
2014               24.0   NaN
2015               82.0   NaN
2016              427.0   2.0
2017             1158.0  30.0
2018             1635.0  14.0
2019             1967.0  49.0
2020             1855.0  24.0
2021             1484.0  14.0

In [ ]:
# 카테고리 분석

In [9]:
data.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [23]:
categories = []

for i in range(len(data)):
    cats = data.loc[i, 'listed_in'].split(', ')
    for cat in cats:
        categories.append(cat)

categories = set(categories)

In [24]:
show_ids = []
categories_list = []

for i in range(len(data)):
    cats = data.loc[i, 'listed_in'].split(', ')
    for cat in cats:
        show_ids.append(data.loc[i, 'show_id'])
        categories_list.append(cat)

In [25]:
show_category = pd.DataFrame({'show_id':show_ids, 'category':categories_list})

In [26]:
bar = Bar("",
         width=1200)
bar.use_theme("dark")
bar.add("category", 
        show_category.category.value_counts()[:10].keys(), 
        show_category.category.value_counts()[:10].values,
        xaxis_type ='category',
        xaxis_label_textsize =9,
        xaxis_interval =0,
        label_text_size=10,
        is_label_show=True, 
        is_datazoom_show=False)
bar

In [33]:
pie = Pie("")
pie.add("", data['type'].value_counts().index, data['type'].value_counts().values, is_label_show=True)
pie

In [38]:
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021

In [48]:
added_type_cnt = data.pivot_table(index='date_added_year', columns='type', values='title', aggfunc='count').reset_index()

In [49]:
bar = Bar("",
         width=1200)
bar.use_theme("dark")
bar.add("", 
        added_type_cnt.date_added_year, 
        added_type_cnt.Movie,
        xaxis_label_textsize =9,
        xaxis_interval =0,
        label_text_size=10,
        is_stack=True,
        is_label_show=False, 
        is_datazoom_show=False)

bar.add("", 
        added_type_cnt.date_added_year, 
        added_type_cnt['TV Show'],
        xaxis_label_textsize =9,
        xaxis_interval =0,
        label_text_size=10,
        is_stack=True,
        is_label_show=False, 
        is_datazoom_show=False)
bar

In [41]:
release_type_cnt = data.pivot_table(index='release_year', columns='type', values='title', aggfunc='count').reset_index()

In [46]:
bar = Bar("",
         width=1200)
bar.use_theme("dark")
bar.add("", 
        release_type_cnt.release_year, 
        release_type_cnt.Movie,
        xaxis_label_textsize =9,
        xaxis_interval =0,
        label_text_size=10,
        is_stack=True,
        is_label_show=False, 
        is_datazoom_show=False)

bar.add("", 
        release_type_cnt.release_year, 
        release_type_cnt['TV Show'],
        xaxis_label_textsize =9,
        xaxis_interval =0,
        label_text_size=10,
        is_stack=True,
        is_label_show=False, 
        is_datazoom_show=False)
bar

In [42]:
release_type_cnt

type  release_year  Movie  TV Show
0             1925    NaN      1.0
1             1942    2.0      NaN
2             1943    3.0      NaN
3             1944    3.0      NaN
4             1945    3.0      1.0
..             ...    ...      ...
69            2017  767.0    265.0
70            2018  767.0    380.0
71            2019  633.0    397.0
72            2020  517.0    436.0
73            2021  277.0    315.0

[74 rows x 3 columns]

In [ ]:
#imdb dataset
# https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset?select=IMDb+movies.csv

In [55]:
imdb_movies = pd.read_csv('IMDb movies.csv')

In [56]:
imdb_movies.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [64]:
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021

In [78]:
data_merged = pd.merge(data, imdb_movies, on='title', how='outer').sort_values(by='metascore', ascending=False)

In [79]:
data_merged[data_merged['show_id'].isnull()][:30]

,show_id,type,title,director_x,cast,country_x,date_added,release_year,rating,duration_x,...,actors,description_y,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
63089,NaN,NaN,Boyhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Ellar Coltrane, Patricia Arquette, Elijah Smit...","The life of Mason, from early childhood to his...",7.9,330806.0,$ 4000000,$ 25352281,$ 48137666,100.0,998.0,580.0
18133,NaN,NaN,La finestra sul cortile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"James Stewart, Grace Kelly, Wendell Corey, The...",A wheelchair-bound photographer spies on his n...,8.4,432390.0,$ 1000000,$ 36764313,$ 37032034,100.0,855.0,157.0
30678,NaN,NaN,Fanny & Alexander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Kristina Adolphson, Börje Ahlstedt, Pernilla A...",Two young Swedish children experience the many...,8.1,56257.0,$ 6000000,$ 6783304,$ 6795771,100.0,143.0,101.0
21547,NaN,NaN,Il gattopardo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Burt Lancaster, Claudia Cardinale, Alain Delon...","The Prince of Salina, a noble aristocrat of im...",8.0,22412.0,ITL 2900000000,NaN,$ 269763,100.0,108.0,113.0
16874,NaN,NaN,Piombo rovente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Burt Lancaster, Tony Curtis, Susan Harrison, M...",Powerful but unethical Broadway columnist J.J....,8.1,27248.0,$ 3400000,NaN,$ 7704,100.0,155.0,131.0
38930,NaN,NaN,Tre colori - Film rosso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Irène Jacob, Jean-Louis Trintignant, Frédériqu...",A model discovers a retired judge is keen on i...,8.1,87686.0,NaN,$ 3581969,$ 3581969,100.0,172.0,107.0
24563,NaN,NaN,Il conformista,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Jean-Louis Trintignant, Stefania Sandrelli, Ga...",A weak-willed Italian man becomes a fascist fl...,8.0,26063.0,$ 750000,$ 58657,$ 400747,100.0,111.0,128.0
25702,NaN,NaN,Il padrino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,9.2,1572674.0,$ 6000000,$ 134966411,$ 246120974,100.0,3977.0,253.0
15216,NaN,NaN,Notorious - L'amante perduta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Cary Grant, Ingrid Bergman, Claude Rains, Loui...",A woman is asked to spy on a group of Nazi fri...,7.9,90400.0,$ 2000000,NaN,$ 113061,100.0,348.0,145.0
21220,NaN,NaN,Lawrence d'Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Peter O'Toole, Alec Guinness, Anthony Quinn, J...",The story of,8.3,261504.0,$ 15000000,$ 45306425,$ 45710874,100.0,676.0,146.0
13676,NaN,NaN,Quarto potere,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Joseph Cotten, Dorothy Comingore, Agnes Mooreh...",Following the death of publishing tycoon Charl...,8.3,389322.0,$ 839727,$ 1585634,$ 1594107,100.0,1452.0,248.0
19848,NaN,NaN,La donna che visse due volte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"James Stewart, Kim Novak, Barbara Bel Geddes, ...",A former police detective juggles wrestling wi...,8.3,352786.0,$ 2479000,$ 7705225,$ 7796389,100.0,860.0,182.0
17859,NaN,NaN,Viaggio in Italia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Ingrid Bergman, George Sanders, Maria Mauban, ...",An unhappily married couple attempts to find d...,7.4,8671.0,NaN,NaN,NaN,100.0,38.0,59.0
9939,NaN,NaN,Il mago di Oz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Judy Garland, Frank Morgan, Ray Bolger, Bert L...",Dorothy Gale is swept away from a farm in Kans...,8.0,366293.0,$ 2777000,$ 24790250,$ 26142032,100.0,688.0,168.0
13993,NaN,NaN,Casablanca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Humphrey Bogart, Ingrid Bergman, Paul Henreid,...",A cynical American expatriate struggles to dec...,8.5,509953.0,$ 950000,$ 4108411,$ 4374761,100.0,1303.0,196.0
22657,NaN,NaN,Au hasard Balthazar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Anne Wiazemsky, Walter Green, François Lafarge...",The story of a mistreated donkey and the peopl...,7.9,17310.0,NaN,$ 45406,$ 45406,100.0,82.0,111.0
18478,NaN,NaN,La morte corre sul fiume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Robert Mitchum, Shelley Winters, Lillian Gish,...",A religious fanatic marries a gullible widow w...,8.0,80215.0,$ 795000,NaN,$ 2001,99.0,453.0,211.0
19828,NaN,NaN,L'infernale Quinlan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Charlton Heston, Janet Leigh, Orson Welles, Jo...","A stark, perverse story of murder, kidnapping,...",8.0,96864.0,$ 829000,$ 2247465,$ 2286947,99.0,321.0,115.0
10663,NaN,NaN,Luci della città,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Virginia Cherrill, Florence Lee, Harry Myers, ...","With the aid of a wealthy erratic tippler, a d...",8.5,162668.0,$ 1500000,$ 19181,$ 46008,99.0,295.0,122.0
13315,NaN,NaN,Pinocchio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Mel Blanc, Don Brodie, Stuart Buchanan, Walter...","A living puppet, with the help of a cricket as...",7.4,127618.0,$ 2600000,$ 84254167,$ 121892045,99.0,202.0,140.0
17393,NaN,NaN,Cantando sotto la pioggia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Gene Kelly, Donald O'Connor, Debbie Reynolds, ...",A silent film production company and cast make...,8.3,213152.0,$ 2540800,$ 1826108,$ 1864182,99.0,671.0,155.0
9485,NaN,NaN,Intolerance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Lillian Gish, Mae Marsh, Robert Harron, F.A. T...","The story of a poor young woman, separated by ...",7.8,13875.0,$ 385907,NaN,NaN,99.0,111.0,77.0
24013,NaN,NaN,L'armata degli eroi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Lino Ventura, Paul Meurisse, Jean-Pierre Casse...",An account of underground resistance fighters ...,8.2,20248.0,NaN,$ 771956,$ 840722,99.0,95.0,141.0
20180,NaN,NaN,A qualcuno piace caldo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Marilyn Monroe, Tony Curtis, Jack Lemmon, Geor...","After two male musicians witness a mob hit, th...",8.2,238048.0,$ 2883848,NaN,$ 83169282,98.0,422.0,224.0
16608,NaN,NaN,Rashomon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Toshirô Mifune, Machiko Kyô, Masayuki Mori, Ta...",The rape of a bride and the murder of her samu...,8.2,148193.0,$ 250000,$ 46808,$ 46808,98.0,348.0,141.0
12602,NaN,NaN,Il bandito della Casbah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",A wanted gangster is both king and prisoner of...,7.7,6180.0,$ 60000,$ 155895,$ 155895,98.0,46.0,55.0
16353,NaN,NaN,Eva contro Eva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Bette Davis, Anne Baxter, George Sanders, Cele...",A seemingly timid but secretly ruthless ingénu...,8.2,117634.0,$ 1400000,$ 63463,$ 150438,98.0,373.0,140.0
20110,NaN,NaN,Intrigo internazionale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Cary Grant, Eva Marie Saint, James Mason, Jess...",A New York City advertising executive goes on ...,8.3,291628.0,$ 3101000,NaN,$ 73446,98.0,614.0,174.0
18167,NaN,NaN,I sette samurai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Toshirô Mifune, Takashi Shimura, Keiko Tsushim...",A poor village under attack by bandits recruit...,8.6,307958.0,JPY 125000000,$ 318649,$ 322773,98.0,715.0,130.0
57610,NaN,NaN,Il labirinto del fauno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Ivana Baquero, Sergi López, Maribel Verdú, Dou...","In the Falangist Spain of 1944, the bookish yo...",8.2,606985.0,$ 19000000,$ 37634615,$ 83850267,98.0,1278.0,457.0

In [80]:
data_merged[~data_merged['show_id'].isnull()][:30]

,show_id,type,title,director_x,cast,country_x,date_added,release_year,rating,duration_x,...,actors,description_y,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
8010,s7508,Movie,Moonlight,Barry Jenkins,"Trevante Rhodes, André Holland, Janelle Monáe,...",United States,"May 21, 2019",2016.0,R,111 min,...,"Mahershala Ali, Shariff Earp, Duan Sanderson, ...",A young African-American man grapples with his...,7.4,263568.0,$ 4000000,$ 27854932,$ 65336603,99.0,920.0,517.0
1195,s1127,Movie,My Fair Lady,George Cukor,"Audrey Hepburn, Rex Harrison, Stanley Holloway...",United States,"April 1, 2021",1964.0,G,173 min,...,"Audrey Hepburn, Rex Harrison, Stanley Holloway...",Snobbish phonetics Professor Henry Higgins agr...,7.8,84812.0,$ 17000000,$ 72560711,$ 72661442,95.0,326.0,94.0
9086,s8512,Movie,The Social Network,David Fincher,"Jesse Eisenberg, Andrew Garfield, Justin Timbe...",United States,"April 1, 2020",2010.0,PG-13,121 min,...,"Jesse Eisenberg, Rooney Mara, Bryan Barter, Du...",As Harvard student,7.7,608745.0,$ 40000000,$ 96962694,$ 224920315,95.0,879.0,581.0
6854,s6423,Movie,Carol,Todd Haynes,"Cate Blanchett, Rooney Mara, Sarah Paulson, Ky...","United Kingdom, United States, Australia","October 20, 2020",2015.0,R,119 min,...,"Cate Blanchett, Rooney Mara, Kyle Chandler, Sa...",An aspiring photographer develops an intimate ...,7.2,111852.0,$ 11800000,$ 12711491,$ 40272135,94.0,340.0,456.0
8311,s7803,Movie,Pulp Fiction,Quentin Tarantino,"John Travolta, Samuel L. Jackson, Uma Thurman,...",United States,"January 1, 2019",1994.0,R,154 min,...,"Tim Roth, Amanda Plummer, Laura Lovelace, John...","The lives of two mob hitmen, a boxer, a gangst...",8.9,1780147.0,$ 8000000,$ 107928762,$ 222831817,94.0,3058.0,289.0
8481,s7958,Movie,Schindler's List,Steven Spielberg,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",United States,"April 1, 2018",1993.0,R,195 min,...,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","In German-occupied Poland during World War II,...",8.9,1183248.0,$ 22000000,$ 96898818,$ 322287794,94.0,1845.0,232.0
3437,s3228,Movie,The Irishman,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,"November 27, 2019",2019.0,R,209 min,...,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",An old man recalls his time painting houses fo...,7.9,304528.0,$ 159000000,NaN,$ 968853,94.0,2705.0,438.0
3067,s2882,Movie,Taxi Driver,Daniel Oriahi,"Odunlade Adekola, Ijeoma Grace Agu, Richard Ak...",Nigeria,"February 26, 2020",2015.0,TV-MA,94 min,...,"Diahnne Abbott, Frank Adu, Victor Argo, Gino A...",A mentally unstable veteran works as a nightti...,8.3,703264.0,$ 1300000,$ 28262574,$ 28441292,94.0,1178.0,289.0
2580,s2431,Movie,Lady Bird,Greta Gerwig,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",United States,"June 3, 2020",2017.0,R,94 min,...,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...","In 2002, an artistically inclined seventeen-ye...",7.4,228832.0,$ 10000000,$ 48958273,$ 79097104,94.0,783.0,462.0
4209,s3961,Movie,The Burial of Kojo,"Sam ""Blitz"" Bazawule","Cynthia Dankwa, Ama K. Abebrese, Joseph Otsima...","Ghana, United States","March 31, 2019",2018.0,TV-14,81 min,...,"Ama K. Abebrese, Joe Addo, Henry Adofo, Kobina...",A man is trapped in a mine shaft by his vengef...,6.4,535.0,NaN,NaN,NaN,93.0,10.0,9.0
8259,s7752,Movie,Platoon,Oliver Stone,"Tom Berenger, Willem Dafoe, Charlie Sheen, For...","United States, United Kingdom","November 1, 2020",1986.0,R,120 min,...,"Keith David, Forest Whitaker, Francesco Quinn,...",A young soldier in Vietnam faces a moral crisi...,8.1,373386.0,$ 6000000,$ 138530565,$ 138545632,92.0,607.0,138.0
2807,s2641,TV Show,After Life,NaN,"Ricky Gervais, Tom Basden, Tony Way, Diane Mor...",United Kingdom,"April 24, 2020",2020.0,TV-MA,2 Seasons,...,"Arata Iura, Erika Oda, Susumu Terajima, Takash...","After death, people have just one week to choo...",7.6,9844.0,NaN,$ 801985,$ 801985,91.0,107.0,93.0
7338,s6885,Movie,Gosford Park,Robert Altman,"Eileen Atkins, Bob Balaban, Alan Bates, Charle...","United States, United Kingdom, Italy","November 1, 2019",2001.0,R,137 min,...,"Maggie Smith, Michael Gambon, Kristin Scott Th...",The lives of upstairs guests and downstairs se...,7.2,78935.0,$ 19800000,$ 41308615,$ 87754044,90.0,666.0,184.0
2799,s2635,Movie,The Artist,Michel Hazanavicius,"Jean Dujardin, Bérénice Bejo, John Goodman, Ja...","France, Belgium, United States","April 25, 2020",2011.0,PG-13,101 min,...,"Jean Dujardin, Bérénice Bejo, John Goodman, Ja...",An egomaniacal film star develops a relationsh...,7.9,227320.0,$ 15000000,$ 44671682,$ 133432856,89.0,664.0,585.0
5792,s5426,TV Show,Aquarius,NaN,"David Duchovny, Gethin Anthony, Grey Damon, Em...",United States,"June 16, 2017",2016.0,TV-MA,2 Seasons,...,"Sônia Braga, Maeve Jinkings, Irandhir Santos, ...","Clara, 65, lives her life to the fullest with ...",7.5,17657.0,BRL 2500000,$ 285930,$ 3085977,88.0,43.0,164.0
6750,s6326,Movie,Black Panther,Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",United States,"September 4, 2018",2018.0,PG-13,135 min,...,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...","T'Challa, heir to the hidden but advanced king...",7.3,597058.0,$ 200000000,$ 700426566,$ 1347280838,88.0,3243.0,685.0
7411,s6957,Movie,Hell or High Water,David Mackenzie,"Jeff Bridges, Chris Pine, Ben Foster, Gil Birm...",United States,"January 1, 2019",2016.0,R,102 min,...,"Dale Dickey, Ben Foster, Chris Pine, William S...",A divorced father and his ex-con older brother...,7.6,198293.0,$ 12000000,$ 27007844,$ 37879877,88.0,446.0,320.0
8605,s8065,TV Show,Spartacus,NaN,"Andy Whitfield, Liam McIntyre, Dustin Clare, J...",United States,"February 1, 2015",2013.0,TV-MA,4 Seasons,...,"Kirk Douglas, Laurence Olivier, Jean Simmons, ...",The slave Spartacus leads a violent revolt aga...,7.9,121994.0,$ 12000000,$ 1830650,$ 1844789,87.0,326.0,128.0
3772,s3539,Movie,Elena,Petra Costa,NaN,"Brazil, United States","September 1, 2019",2012.0,TV-MA,81 min,...,"Nadezhda Markina, Andrey Smirnov, Elena Lyadov...",When a sudden illness and an unexpected reunio...,7.3,12741.0,NaN,$ 233380,$ 2227905,87.0,64.0,136.0
3435,s3227,Movie,The Body Remembers When the World Broke Open,"Elle-Máijá Tailfeathers, Kathleen Hepburn","Violet Nelson, Elle-Máijá Tailfeathers, Charli...","Canada, Norway","November 27, 2019",2019.0,TV-MA,106 min,...,"Violet Nelson, Elle-Máijá Tailfeathers, Charli...","After a chance encounter on the street, a woma...",6.8,491.0,NaN,NaN,NaN,87.0,10.0,13.0
4173,s3929,TV Show,Persona,"Lee Kyoungmi, Yim Pilsung, Jeon Go-woon, Kim J...","Lee Ji-eun (IU), Bae Doona, Park Hae Soo, Kim ...",South Korea,"April 11, 2019",2019.0,TV-MA,1 Season,...,"Bibi Andersson, Liv Ullmann, Margaretha Krook,...",A nurse is put in charge of a mute actress and...,8.1,98867.0,NaN,NaN,$ 25407,86.0,232.0,143.0
8406,s7890,Movie,Room,Lenny Abrahamson,"Brie Larson, Jacob Tremblay, Joan Allen, Sean ...","Ireland, Canada, United Kingdom, United States","July 19, 2018",2015.0,R,118 min,...,"Brie Larson, Jacob Tremblay, Sean Bridgers, We...","Held captive for 7 years in an enclosed space,...",8.1,357159.0,$ 13000000,$ 14677654,$ 35401758,86.0,677.0,479.0
7792,s7309,Movie,Lincoln,Steven Spielberg,"Daniel Day-Lewis, Sally Field, David Strathair...","United States, India","February 21, 2018",2012.0,PG-13,150 min,...,"Daniel Day-Lewis, Sally Field, David Strathair...","As the American Civil War continues to rage, A...",7.3,240462.0,$ 65000000,$ 182207973,$ 275293450,86.0,797.0,564.0
7800,s7316,Movie,Little Men,Ira Sachs,"Greg Kinnear, Jennifer Ehle, Paulina García, A...","United States, Greece, Brazil","January 12, 2017",2016.0,PG,85 min,...,"Theo Taplitz, John Procaccino, Ching Valdes-Ar...",A new pair of best friends have their bond tes...,6.7,6749.0,$ 2000000,$ 702537,$ 2008649,86.0,45.0,131.0
1120,s1053,Movie,The Master,Paul Thomas Anderson,"Joaquin Phoenix, Philip Seymour Hoffman, Amy A...",United States,"April 15, 2021",2012.0,R,137 min,...,"Joaquin Phoenix, Price Carson, Mike Howard, Sa...",A Naval veteran arrives home from war unsettle...,7.2,150274.0,$ 32000000,$ 16377274,$ 28258060,86.0,516.0,503.0
838,s800,Movie,Million Dollar Baby,Clint Eastwood,"Clint Eastwood, Hilary Swank, Morgan Freeman, ...",United States,"June 2, 2021",2004.0,PG-13,133 min,...,"Clint Eastwood, Hilary Swank, Morgan Freeman, ...",A determined woman works with a hardened boxin...,8.1,623282.0,$ 30000000,$ 100492203,$ 216763646,86.0,1230.0,266.0
5524,s5168,Movie,Mudbound,Dee Rees,"Carey Mulligan, Jason Clarke, Mary J. Blige, G...",United States,"November 17, 2017",2017.0,R,135 min,...,"Carey Mulligan, Jason Clarke, Mary J. Blige, R...",Two men return home from World War II to work ...,7.4,40622.0,NaN,NaN,$ 117344,85.0,140.0,171.0
7420,s6963,Movie,Hero,Corey Yuen,"Takeshi Kaneshiro, Yuen Biao, Valerie Chow, Je...","Hong Kong, China","August 1, 2018",1997.0,TV-MA,89 min,...,"Jet Li, Tony Chiu-Wai Leung, Maggie Cheung, Zi...","A defense officer, Nameless, was summoned by t...",7.9,172037.0,$ 31000000,$ 53710019,$ 177395557,85.0,867.0,150.0
575,s556,Movie,Snowpiercer,Bong Joon Ho,"Chris Evans, Song Kang-ho, Ed Harris, John Hur...","South Korea, Czech Republic","July 2, 2021",2013.0,R,126 min,...,"Chris Evans, Kang-ho Song, Ed Harris, John Hur...",In a future where a failed climate-change expe...,7.1,307353.0,$ 39200000,$ 4563650,$ 86758912,84.0,920.0,490.0
1002,s943,Movie,Mystic River,Clint Eastwood,"Sean Penn, Tim Robbins, Kevin Bacon, Laurence ...","United States, Australia","May 1, 2021",2003.0,R,138 min,...,"Sean Penn, Tim Robbins, Kevin Bacon, Laurence ...",The lives of three men who were childhood frie...,7.9,411389.0,$ 25000000,$ 90135191,$ 156595191,84.0,1041.0,236.0