In [ ]:
# json 데이터를 csv 파일로 저장하기

In [4]:
import pandas as pd
import json

In [5]:
with open('data/miserables.json', 'r') as f:
    data = json.load(f)

In [11]:
nodes = pd.DataFrame(data['nodes'])
links = pd.DataFrame(data['links'])

In [13]:
nodes.to_csv('data/nodes.csv', index=False)
links.to_csv('data/links.csv', index=False)

In [ ]:
# gephi로 가서 그래프를 그리고 그래프 파일을 저장한 후 좌표값 데이터만 뽑아서 다시 저장합니다.

In [ ]:
# gephi에서 얻은 좌표 데이터 불러온 후 link데이터 정제

In [14]:
coordinates = pd.read_excel('data/coordinates.xlsx')

In [22]:
#링크 데이터에 relationship 컬럼 생성
links['relationship'] = [pair[0] + '->' + pair[1] for pair in zip(links['source'], links['target'])]

In [24]:
# 태블로형 데이터로 변환
links_re = links[['target', 'value', 'relationship']] #target ~ relationship 컬럼을 복사한 데이터프레임
links_re = links_re.rename(columns={'target': 'id'}) #두 데이터프레임을 합치기 위해 컬럼 이름 변경
links = links.rename(columns={'source': 'id'}) #두 데이터프레임을 합치기 위해 컬럼 이름 변경
del links['target'] #필요없는 target 컬럼 제거
links_concated = pd.concat([links, links_re]) #데이터 합치기

In [28]:
#좌표값을 merge해줍니다.
links_concated = pd.concat([links, links_re]) #데이터 합치기pd.merge(links_concated, coordinates, on='id', how='left')

,id,value,relationship,x,y
0,Napoleon,1,Napoleon->Myriel,-326.57220,-456.103420
1,Mlle.Baptistine,8,Mlle.Baptistine->Myriel,-114.60866,-258.695430
2,Mme.Magloire,10,Mme.Magloire->Myriel,-147.56654,-247.295490
3,Mme.Magloire,6,Mme.Magloire->Mlle.Baptistine,-147.56654,-247.295490
4,CountessdeLo,1,CountessdeLo->Myriel,-246.02286,-551.020700
...,...,...,...,...,...
503,Grantaire,1,Mme.Hucheloup->Grantaire,264.61884,83.064170
504,Bahorel,1,Mme.Hucheloup->Bahorel,236.94731,115.838650
505,Courfeyrac,1,Mme.Hucheloup->Courfeyrac,201.80182,108.211580
506,Gavroche,1,Mme.Hucheloup->Gavroche,183.19376,44.461323
507,Enjolras,1,Mme.Hucheloup->Enjolras,148.44029,74.285120

In [26]:
links_concated.to_csv('data/links_concated.csv') #데이터 저장